<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>Privacy Policy</title>
    <style>
        body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; }
        div {line-height:30px;}
    </style>
</head>
<body>
<div>
    <h3>개인정보 처리방침</h3>
</div>
<div>
    제철음식(이하 "이 앱"이라 함)은 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보보호법, 통신비밀보호법, 전기통신사업법, 등 정보통신서비스제공자가 준수하여야 할 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다.<br />
    <br />
    1. 수집하는 개인정보의 항목 및 수집방법<br />
    이 앱은 일체의 회원가입 및 개인정보 제공을 요구 하지 않으며 어떤 제한없이 이 앱의 모든 기능을 이용할 수 있습니다. 다만 함께 제공하는 광고플랫폼에서 이를 수집할 수 있으며 이에 대한 절차 및 책임은 각 하기의 제공처에 있습니다.<br />
    - Google Play Services : https://www.google.com/policies/privacy/<br />
    - AdMob : https://support.google.com/admob/answer/6128543?hl=ko<br />
    - Firebase Analytics : https://firebase.google.com/policies/analytics<br />
    - Fabric : https://fabric.io/privacy<br />
    <br />
    2. 개인정보관리책임자 및 담당자의 연락처<br />
    귀하께서는 이 앱의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 이 앱은 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.<br />
    개발자 : idiotlabs<br />
    이메일 : idiotlabs@gmail.com<br />
    <br />
    3. 기타<br />
    이 앱에서 제공하는 이 앱에 포함된 광고 플랫폼에서 개인정보를 수집하는 행위에 대해서는 이 앱의 개인정보취급방침이 적용되지 않음을 알려 드립니다.<br />
    <br />
    4. 고지의 의무<br />
    본 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.<br />
    본 개인정보처리방침은 2023년 4월 30일부터 적용 됩니다.
</div>
<hr />
<div>
    <h3>Privacy Policy [English]</h3>
</div>
<div>
    <p> idiotlabs built the 제철음식 app as an Ad Supported app. This SERVICE is provided by
        idiotlabs at no cost and is intended for use as is.
    </p> <p>This page is used to inform visitors regarding my policies with the collection, use, and disclosure
    of Personal Information if anyone decided to use my Service.
</p> <p>If you choose to use my Service, then you agree to the collection and use of information in
    relation to this policy. The Personal Information that I collect is used for providing and improving
    the Service. I will not use or share your information with anyone except as described
    in this Privacy Policy.
</p> <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is
    accessible at 주사위 굴리기겠지 unless otherwise defined in this Privacy Policy.
</p> <p><strong>Information Collection and Use</strong></p> <p>For a better experience, while using our Service, I may require you to provide us with certain
    personally identifiable information. The information that I request will be retained on your device and is not collected by me in any way.
</p> <p>The app does use third party services that may collect information used to identify you.</p> <div><p>Link to privacy policy of third party service providers used by the app</p> <ul><li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li><li><a href="https://support.google.com/admob/answer/6128543?hl=en" target="_blank">AdMob</a></li><li><a href="https://firebase.google.com/policies/analytics" target="_blank">Firebase Analytics</a></li><!----><li><a href="https://fabric.io/privacy" target="_blank">Fabric</a></li><!----><!----><!----></ul></div> <p><strong>Log Data</strong></p> <p> I want to inform you that whenever you use my Service, in a case of
    an error in the app I collect data and information (through third party products) on your phone
    called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address,
    device name, operating system version, the configuration of the app when utilizing my Service,
    the time and date of your use of the Service, and other statistics.
</p> <p><strong>Cookies</strong></p> <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers.
    These are sent to your browser from the websites that you visit and are stored on your device's internal
    memory.
</p> <p>This Service does not use these “cookies” explicitly. However, the app may use third party code and
    libraries that use “cookies” to collect information and improve their services. You have the option to
    either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose
    to refuse our cookies, you may not be able to use some portions of this Service.
</p> <p><strong>Service Providers</strong></p> <p> I may employ third-party companies and individuals due to the following reasons:</p> <ul><li>To facilitate our Service;</li> <li>To provide the Service on our behalf;</li> <li>To perform Service-related services; or</li> <li>To assist us in analyzing how our Service is used.</li></ul> <p> I want to inform users of this Service that these third parties have access to
    your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However,
    they are obligated not to disclose or use the information for any other purpose.
</p> <p><strong>Security</strong></p> <p> I value your trust in providing us your Personal Information, thus we are striving
    to use commercially acceptable means of protecting it. But remember that no method of transmission over
    the internet, or method of electronic storage is 100% secure and reliable, and I cannot guarantee
    its absolute security.
</p> <p><strong>Links to Other Sites</strong></p> <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed
    to that site. Note that these external sites are not operated by me. Therefore, I strongly
    advise you to review the Privacy Policy of these websites. I have no control over
    and assume no responsibility for the content, privacy policies, or practices of any third-party sites
    or services.
</p> <p><strong>Children’s Privacy</strong></p> <p>These Services do not address anyone under the age of 13. I do not knowingly collect
    personally identifiable information from children under 13. In the case I discover that a child
    under 13 has provided me with personal information, I immediately delete this from
    our servers. If you are a parent or guardian and you are aware that your child has provided us with personal
    information, please contact me so that I will be able to do necessary actions.
</p> <p><strong>Changes to This Privacy Policy</strong></p> <p> I may update our Privacy Policy from time to time. Thus, you are advised to review
    this page periodically for any changes. I will notify you of any changes by posting
    the new Privacy Policy on this page. These changes are effective immediately after they are posted on
    this page.
</p> <p><strong>Contact Us</strong></p> <p>If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact
    me.
</p> <p>This privacy policy page was created at <a href="https://privacypolicytemplate.net" target="_blank">privacypolicytemplate.net</a>
    and modified/generated by <a href="https://app-privacy-policy-generator.firebaseapp.com/" target="_blank">App
        Privacy Policy Generator</a></p>
</div>
</body>
</html>
